<div class="navigation-title-area">
  <div class="navigation-status-bar"></div>
  <div class="navigation-title">
    <button md-fab><md-icon>person</md-icon></button>
  </div>
  <div class="navigation-subtitle">
    <div class="navigation-name">Jonathan Lee</div>
    <div class="navigation-email-address">heyfromjonathan@gmail.com</div>
  </div>
</div>

<div class="navigation-content-area">
  <nav>
    <ul>
      <li>
        <a md-button>
          <md-icon>dashboard</md-icon>Dashboard</a>
      </li>
      <li>
        <a md-button>
          <md-icon>schedule</md-icon>Programs</a>
      </li>
    </ul>
  </nav>
</div>
